<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title><%= base.title %></title>

<meta name="description" content="<%= base.metaDesc %>">

<meta property="og:title" content="<%= base.title %>" />
<meta property="og:description" content="" />
<meta property="og:type" content="website" />
<meta property="og:url" content="" />
<meta property="og:image" content="https://easymovie.com.br/assets/site/favicon-eb2e81561854ad3c16e247ef3c9b1aeefd28670fb680ea34bb7b3f0457ab1ec2.png" />
<meta property="og:site_name" content="" />

<meta property="fb:app_id" content="" />
<meta name="twitter:card" content="https://easymovie.com.br/assets/site/favicon-eb2e81561854ad3c16e247ef3c9b1aeefd28670fb680ea34bb7b3f0457ab1ec2.png">
<meta name="twitter:site" content="">

<link rel="shortcut icon" href="https://easymovie.com.br/assets/site/favicon-eb2e81561854ad3c16e247ef3c9b1aeefd28670fb680ea34bb7b3f0457ab1ec2.png" />
<link rel="canonical" href="g" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
  rel="stylesheet"
  media="print" onload="this.media='all'"
/>

<link rel="stylesheet" href="https://easymovie.com.br/assets/static_site-dfaba02fb1ea62009f304f355e26d55f607f929873a0fbb201c6e0c558d24085.css">

<%- include('_styles') -%>
