.banner {
  position: relative;
  width: 100%;
  height: 196px;
  left: 0;
  display: inline-block;
  background-color: #d65151;
  background-image: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  position: relative;

  @media only screen and (max-width: 1000px) {
    .user_space_avatar {
      margin-bottom: 18px;
    }
  }
}

.main-banner {
  @media only screen and (max-width: 1000px) {
    height: 431px;
    padding-bottom: 0;
  }
}
