.modal-portfolio {
  background-color: #1e1e1e;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  padding-top: 58px;
  color: #fff;
  overflow: auto;
  display: none;

  .owl-stage,
  .owl-item,
  .owl-loaded,
  .owl-stage-outer {
    height: 100%;
  }

  @media only screen and (max-width: 1000px) {
    padding-top: 70px;
  }

  &__close {
    position: absolute;
    top: -30px;
    right: 0;
    z-index: 9;

    @media only screen and (max-width: 1000px) {
      top: -60px;
      right: 24px;
    }
  }

  &__carousel {
    height: 100%;

    @media only screen and (max-width: 1000px) {
      height: auto;
    }

    .owl-stage {
      min-width: 100%;
    }
  }

  path {
    fill: #fff;
  }

  .section-separator {
    margin-bottom: 24px;
  }

  a {
    color: #fff;
  }

  &__slide__control {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 1000px) {
      transform: translateY(-130px);
      position: relative;
      z-index: 999;
    }

    a {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      display: flex;
      align-items: center;
    }
  }

  &__video {
    height: 100%;

    @media only screen and (max-width: 1000px) {
      height: auto;
    }

    &__wrapper {
      display: inline-block;
      width: 100%;
      height: 100%;

      &.flex-group {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        min-height: 100%;
      }
    }

    &__top-group {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media only screen and (max-width: 1000px) {
        flex-direction: column;
        align-items: start;
        margin-top: 35px;
      }
    }

    &__social {
      a {
        margin: 0 9px;

        @media only screen and (max-width: 1000px) {
          &:first-child {
            margin-left: 0;
          }
        }

        &:hover {
          path {
            fill: var(--dse-color-primary);
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1920px;
    padding: 0 100px;
    height: calc(100% - 100px);

    @media only screen and (max-width: 1000px) {
      padding: 0;
      height: auto;
    }
  }

  &__video__player {
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;
    position: relative;
    display: flex;
    border-radius: 8px;

    @media only screen and (max-width: 1000px) {
      height: 186px;
    }
  }

  &__video__title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-top: 25px;
    margin-bottom: 24px;
  }

  &__side-bar {
    padding-left: 30px;
    height: 99%;
    margin-top: 1%;
    overflow: auto;

    &__wrapper {
      display: none;
      /* height: 100%; */
      // top: 77px;
    }

    /* width */
    &::-webkit-scrollbar {
      width: 10px;
      border-radius: 9px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f149;
      border-radius: 9px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 9px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    @media only screen and (max-width: 1000px) {
      padding-left: 12px;
      height: 100%;
      margin-top: 0%;
    }

    &__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 18px;
    }

    &__user {
      display: flex;
      margin-bottom: 33px;

      &__picture {
        margin-right: 16px;
      }

      &__name {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
      }
    }

    &__info {
      margin-bottom: 24px;

      &__tags {
        display: flex;
        width: 100%;

        li {
          margin-right: 8px;
        }
      }
    }

    &__tags {
      &__group {
        display: flex;

        li {
          margin-right: 8px;
        }
      }
    }

    &__description__text {
      position: relative;
      height: 130px;
      overflow: hidden;
      padding-right: 50px;

      @media only screen and (max-width: 1000px) {
        padding-right: 0;
      }

      p {
        color: #fff;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
      }

      &.active {
        overflow: auto;
      }

      &.text--hidden {
        &.active::before {
          opacity: 0;
        }
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          transition: 0.5s ease-in;
          background: linear-gradient(180deg, #79363800 61.46%, #1e1e1e);
        }
      }

      &__more {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-decoration: underline;
      }
    }

    &__call-to-action {
      a {
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;

        @media only screen and (max-width: 1000px) {
          width: 100%;
        }

        &:hover {
          color: #000;
          path {
            fill: #000;
          }
        }

        path {
          fill: #fff;
        }
      }
    }
  }
}
